.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
    transition: 0.3s ease-in-out;
    position: relative;
    
}




.navbar_menu {
    display: flex;
    gap: 35px;
      
}

.navbar_menu a{
    text-decoration: none;
    color: var(--DarkBlue);
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.navbar_menu a:hover{
    color: var(--DarkGrayishBlue);
}

.hamburger_menu{
    background-color: white;
    margin: 0px 40px;
    right: 0%;
    left: 0%;
    top: 6rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0px;
    z-index: 10;   

}

.dim {
    z-index: 9;
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
}

.hamburger_menu a{
    
    color: var(--DarkBlue);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s ease-in-out;

    &:hover{
        color: var(--BrightRed);
    }
}







@media screen and (max-width:100000px){
    .hamburger{
        display: none;
    }
    
    
}


@media screen and (max-width:1280px){
    .navbar{
        padding: 50px 40px;
    }
    
}
@media screen and (max-width:1100px){
    .hamburger{
        display: flex;
    }

    .navbar_menu,.navbar_button{
        display: none;
    }


}

@media screen and (min-width:1100px){
    
        .dim{
            display: none;
        }


}
@media screen and (max-width:400px){
    
        .navbar{
            padding: 20px 20px;
        }
        .hamburger_menu{
            margin: 0px 20px;
        }

        .header_logo{
            width: 100px;
        }




}



